@font-face {
    font-family: flappybird;
    src: url(../fonts/FlappyBirdy.ttf);
    font-weight: bold;
  }

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#container {
    position: relative;
    height: 100vh;
    width: 100%;
    /* border: 1px solid #f5f5f5; */
    background: url('../images/bgw.jpg') no-repeat center top;
    /* background-size: 150vh; */
    background-size: 100%; 
    overflow: hidden;

    /* margin-bottom: 30px; */
    flex: 1;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: flappybird;
    font-size: 200px;
    
}

#container h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
}
/* 
#ground {
    position: auto;
    height: 100vh;
    width: 100%;
    background: url('../images/ground.png') no-repeat center bottom;
    background-size: 80%;
    margin: 0;
    padding: 0;

} */

#bird {
    image-rendering: optimizeSpeed;
    position: relative;
    top: -200px;
    left: 300px;

}

.button {
    image-rendering: optimizeQuality;
    position: relative;
    top: 200px;
    left: 500px;

}

